# Ignore compiled mex files
*.mexa64
*.mexmaca64
*.mexw64*

# Ignore matlab and apple trash addings on macOS
*.MATLABDriveTag
*.DS_Store
*.asv

# Ignore matlab and windows trash addings on macOS
*.vs*

# Ignore useless file types
*.swp
*.a
*.o
*.dat
*.dSYM
*.trace
*/Out_AMG
examples/PorFlowMatrix/MESH/*.txt
examples/PorFlowMatrix/MESH/*.tetra
examples/PorFlowMatrix/MESH/*.coord
